body {
    background-color: aquamarine;
    --carousel-height: 200px;
    --carousel-width: 300px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
}

/* This class will be toggled with JavaScript */
.show {
    display: block;
}

#main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#slides {
    display: flexbox;
    position: relative;
    bottom: 0px;
}

img {
    height: var(--carousel-height);
    width: var(--carousel-width);
}

#frame {
    /* padding: 20px; */
    height: var(--carousel-height);
    width: var(--carousel-width);
    overflow: hidden;
}

#controls {
    display: flex;
    width: var(--carousel-width);
    justify-content: space-around;
    gap: 20px;
}

#controls button {
    width: 100px;
}